
@font-face {
    font-family: VALORANT;
    src: url('http://fonts.cdnfonts.com/css/valorant');
}

@font-face {
    font-family: plateia;
    src: url('http://fonts.cdnfonts.com/css/plateia');
}

@font-face {
    font-family: DM;
    src: url('http://fonts.cdnfonts.com/css/dm-serif-text');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
}



.header {
    position: fixed;
    z-index: 1000;
    font-weight: bolder;
    text-align: center;
    font-family: VALORANT;
    background-color: #15161f;
    height: 20vh;
    width: 100vw;
    border-bottom: 1px whitesmoke solid;
    box-shadow: 0px 4px 20px 4px rgb(255 255 255 / 47%);
}

.header .container {
    display: flex;
    height: 65px;
    align-items: center;
    flex-direction: column;
}

.logo-header img {
    height: 6vw;
    cursor: pointer;
}


.navbar a {
    font-size: 15px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: #c6c6c6;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover:after {
    width: 100%;
}

.navbar li {
    display: unset;
    padding-left: 65px;
    margin-right: 65px;
}

.navbar ul {
    float: left;
    margin-right: 40px;
}

.containeer {
    background-color: whitesmoke;
    width: 100vw;
    height: 135vh;
    margin: auto;
}

.containeeer{
    width: 100%;
    height: 10vh;
    background-color: whitesmoke;
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1{

}
.content h2{
    
}

.text{
    font-family: 'plateia';
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

label{
    width: 70px;
    height: 17px;
    border: 2px solid black;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

label:hover{
    background-color: black;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.content .slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;

}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}