/*INICIO GLOBAL*/

@font-face {
    font-family: VALORANT;
    src: url('http://fonts.cdnfonts.com/css/valorant');
}

@font-face {
    font-family: plateia;
    src: url('http://fonts.cdnfonts.com/css/plateia');
}

@font-face {
    font-family: DM;
    src: url('http://fonts.cdnfonts.com/css/dm-serif-text');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    height: auto;
    margin: auto;
}
.containeer {
    width: 90%;
    height: auto;
    align-items: center;
    text-align: center;

}


/*INICIO GLOBAL*/

.header {
    position: fixed;
    z-index: 1000;
    font-weight: bolder;
    text-align: center;
    font-family: VALORANT;
    background-color: #15161f;
    height: 18vh;
    width: 100vw;
    border-bottom: 1px whitesmoke solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    height: 65px;
    align-items: center;
    flex-direction: column;
}

.logo-header img {
    height: 6vw;
    cursor: pointer;
}


.navbar a {
    position: relative;
    font-size: 15px;
    color: #a0a0a0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar a:after {
    content: "";
    position: absolute;
    background-color: #c6c6c6;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover:after {
    width: 100%;
}

.navbar li {
    display: unset;
    padding-left: 65px;
    margin-right: 65px;
}

.navbar ul {
    float: left;
}

.banner {
    background-image: url(../assets/imgs/banner.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.bannerText h1 {
    font-size: 30pt;
    color: #FCFEF0;
}

.banner .bannerText .pequeno {
    font-size: 20px;
    font-family: plateia;
}

.banner .bannerText span {
    font-size: 100px;
    font-family: VALORANT;
}

.bannerLog {
    background-image: url(../assets/imgs/reyna.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.content{
    width: 25%;
    height: 60%;
    background-color: springgreen;
    border-radius: 12px;
}

input{
    border-radius: 28px;
}

.espacoNovidade {
    width: 100%;
    height: auto !important;
    display: flex;
    padding-top: 5%;
    align-items: center;
    justify-content: space-evenly;
}

.lista-atualizacao {
    display: flex;
    flex-direction: column;
}

.novidades {
    background-color: whitesmoke;
    height: 160vh;
    padding: 10% 2%;
}

.novidades h1 {
    margin-bottom: 7%;
    text-align: center;
    font-size: 35pt;
    font-family: plateia !important;
}

.novidadeDesc {
    height: auto;
    width: 51%;
    background-color: #10141B;
    color: #FCFEF0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.novidadeText {
    padding: 5% 5% 10%;
    text-align: justify;
    margin: auto;
}

.novidadeText h1 {
    margin-bottom: 15%;
    text-align: center;
    font-family: DM !important;
}

.novidadeText span {
    font-weight: bolder;
}

.novidadeText label {
    font-family: DM;
}

.novidadeIMG {
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    padding: 1%;
    background-color: #242633;
    font-family: DM;
    width: 100%;
    height: auto;
    color: #FCFEF0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.conteudoFooter p {
    font-size: 14pt;
}

.redesSociais {
    font-size: 20pt;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 3rem 0;
}

.redesSociais li {
    margin: 0 10px;
}

.redesSociais a {
    text-decoration: none;
    color: #FCFEF0;
    margin-right: 20px;
    margin-left: 20px;
}

.redesSociais a i {
    font-size: 30px;
    transition: 3s;
}

.redesSociais a:hover i {
    font-weight: bolder;
}

.fimFooter {
    width: 100%;
    text-align: center;
}

.fimFooter p {
    font-family: valorant;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.fimFooter span {
    text-transform: uppercase;
    font-weight: 200;
}